
.icono1{
  width: 40px;
  height: 40px;
  transform: scale(2);
  position: relative;
  z-index: 1;
}


.navbar .nav-link {
  color: #080101;
}

.navbar-nav .nav-item {
  margin-right: 40px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-toggler {
  background: rgb(153, 146, 159);
}



.contacto{
    width: 100%;
    background-color: #d66b0c;
    height: 70px;
    position: relative;
    z-index: 2; 
   
  }

  .titulo{
    text-align: center;
    color: white;
    padding-top: 10px;
  }

  .camino{
    position: absolute;
    top: 12%;
    left: 9%;
    transform: translate(-50%, -50%);
    
  }


  .index{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .index:hover{
    color: black;
  }

  .nosotros{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }


 .nosotros:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  
 }

 .hovered{
  color: red;
 }


  .container{ 
    margin: auto;
   

  }

  .navbar-nav{
    --bs-nav-link-hover-color: rgb(255, 136, 0) !important;
    
    
  }


#carouselExampleCaptions .carousel-item {
    height: 79vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .no-underline-orange {
    text-decoration: none !important;
    color: rgb(255, 111, 0);
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 14px;
}