.icono1{
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.icono1:hover{
transform: scale(2);
z-index: 2;
}
  
  .navbar .nav-link {
    color: #080101;
  }
  
  .navbar-nav .nav-item {
    margin-right: 40px;
    
  }
  
  .navbar-nav {
    margin-left: auto;
   
  }

  .navbar-nav:hover {
    margin-left: auto;
 
   
  }
  
  .navbar-nav .nav-item {
    margin-left: 20px;
    
  }
  
  .navbar-toggler {
    background: rgb(153, 146, 159);
    
  }

  .container{ 
    margin: auto;
   

  }

  .navbar-nav{
    --bs-nav-link-hover-color: rgb(255, 94, 0, 0.75) !important;
  }

  .contacto{
    width: 100%;
    background: linear-gradient(45deg, #b95a07, #FF6347);
    height: 70px;
  }

  .titulo{
    text-align: center;
    color: white;
    padding-top: 10px;
  }

  .camino{
    position: absolute;
    top: 12%;
    left: 9%;
    transform: translate(-50%, -50%);
    
  }


  .index{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .nosotros{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }


 .nosotros:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
  
 }

 .mapa  {
     
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

 iframe{
  text-align: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  box-shadow: 1px 10px 50px 0.5px rgba(10, 3, 75, 0.75);
  transition: 2s; 
  
}

iframe:hover{
  width: 1000px;
  transition: 3s; 
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenido sea al menos el alto de la ventana */
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.site-content {
  flex: 1; /* Ocupa todo el espacio restante */
}

.site-footer {
  background: linear-gradient(90deg, #040404, #2b2a2a);
  color: white;
  height: 80.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-left, .footer-right {
  flex: 1;
  text-align: left;
}

.footer-right {
  text-align: right;
}


 .parrafo1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: bold;
 }

 .parrafo2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  
 }

 .infoC{
  font-size: 20px;
  color: rgb(144, 70, 6);
  font-weight: bold;
}

.lista {
  list-style:none; /* Estilo de marcador: puntos */
}


.lista li::before {
  content: "•"; /* Utilizamos el caracter • como marcador personalizado */
  color: rgb(215, 110, 17); /* Color naranja para el marcador */
  margin-right: 0.5em; /* Espacio entre el marcador y el texto */
}



