  .titulo {
    color: rgb(254, 80, 0);
    text-align: center;
    font-size: 37px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: -1px;
    text-overflow: ellipsis;
    font-family: 'Times New Roman', Times, serif;
  }
    
  .enlace {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px 2px;
}
 
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20PX; 
}

table th,table td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tablaArriba{
  color: orange;
}

.botonAceptar {
  background-color: #2ed14e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
}

.botonAceptar:hover {
  background-color: orange; 
}

.botonAceptar:active {
  background-color: #ff8e04; 
}

.botonDesechar {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.botonDesechar:hover {
  background-color: orange; 
}

.botonDesechar:active {
  background-color: #ff8e04; 
}


.botonModificar {
  background-color: #0b0bbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.botonModificar:hover {
  background-color: orange; 
}

.botonModificar:active {
  background-color: #ff8e04; 
}

  .formulario__input {
    border: 3px solid transparent;
    border-radius: 7px;
    transition: .3s ease all;
  }
  
  .formulario__input:focus{
    border: 3px solid rgb(254, 80, 0);
    box-shadow: 5px 0px 35px rgb(202, 78, 0);
  }
  
  .hijo {
    max-width: 40em;
    display: flex;
    justify-self: left;
    position: absolute;
    top: 21rem;
    transform: translate(0, -50%);
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #b95a07, #FF6347);
    color: #fff;
    padding: 10px 20px;
}

.gerente-section {
    display: flex;
    align-items: center;
}

.gerente-section h1 {
    margin-right: 10px;
}

.gerente-section a.enlace {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.baja-section h1 {
    margin-left: 10px;
}
  
  #enviar {
    background-color: rgb(196, 99, 39);
    width: 160px;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    transition: background-color 0.3s ease, width 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  #enviar:hover {
    width: 180px;
    background-color: rgb(254, 80, 0);
    box-shadow: 1px 1px 9px rgb(0, 0, 0);
  }
  
  .padre {
    background-color: rgb(253, 222, 196);
    position: left;
    height: 100vh;
  }

  .mainBaja{
    background-color: rgb(253, 222, 196);
  }
  
  @font-face {
    font-family: 'Italica';
    src: url('../Tipografias/Italiana-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
  }
  
  .icono1 {
    width: 40px;
    height: 40px;
    transform: scale(2);
    position: relative;
    z-index: 1;
  }
  
  .grupo__correcto .formulario__input{
    border: solid 3px green;
    color: darkgreen;
  }
  
  .grupo__error .formulario__input{
    border: solid 3px crimson;
    color: rgb(255, 98, 0);
  }
  
  .grupo_input-error{
    font-size: 10px;
    margin-bottom: 0;
    display: none;
    color: crimson;
    padding-top: -222px; 
    padding-bottom: -1222px;
    margin-top: 2px;
  }
  
  .grupo_input-error-activo{
    display: block;
  }

  #botonAlerta{
    padding-top:6px;
  }
  
  @media screen and (min-width: 1500px) {
   
    .hijo {
  
      max-width: 27em;
      display: flex;
      justify-self: center;
      position: absolute;
      top: 25.5rem;
      right: 18%;
      /* */
      transform: translate(0, -50%);
  
    }
  
    .row {
     font-size: 29px;
    
    
    
    }
    .titulo {
      text-align: center;
      font-size: 47px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      letter-spacing: -1px;
      text-overflow: ellipsis;
      font-family: 'Times New Roman', Times, serif;
    }
  
    .form-control{
      font-size: 1.2rem;
    }
  
    #enviar {
     width: 180px;
     height: 40px;
    }
  
    #enviar:hover {
      width: 200px;
    }
    .enlace {
      color: #8D2C2C;
      text-decoration: none;
      font-size: 16px
     
    }
   
  }
  
  #campos {
    position: relative¿;
    min-height: 50px; 
  }
  
  .grupo{
    padding: 13px;
  }
  
  .grupo_input-error {
    position: absolute;
    color: red;
    font-size: 12px;
    margin-top: -2px;
  }
  
  #errorRepeticion {
    padding-top: 20px;
  }
  
  .alert .fa-solid {
    padding-right: 3px;
  }

  .ver-imagen {
    position: relative;
  }

  .imagen-preview {
    display: none;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .ver-imagen:hover + .imagen-preview {
    display: block;
  }

  /* PAGINA DE ESTADISTICAS */

  .bodyGerente {
    background-color: rgb(253, 222, 196);
  }

  .mainEstadisticas {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .estadisticas {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.estadistica {
    text-align: center;
}

.estadistica h2 {
    font-size: 1.5rem;
}

.estadistica p {
    font-size: 2rem;
    font-weight: bold;
    color: #ff8e04;
}

.porcentaje {
  font-size: 1.2rem !important;
  color: #4caf50 !important;
}

.estadisticas-tabla {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.estado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
}

.estado h3 {
  font-size: 1.2rem;
  margin: 0;
}

.estado p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff8e04;
  margin: 0; 
}

.tabla-estadisticas {
  width: 100%;
  border-collapse: collapse;
}

.tabla-estadisticas, .tabla-estadisticas th, .tabla-estadisticas td {
  border: 1px solid #ccc;
}

.tabla-estadisticas th, .tabla-estadisticas td {
  padding: 10px;
  text-align: center;
  width: 50%;
}

.tabla-estadisticas th {
  background-color: #f2f2f2;
}

.tabla-menu th, .tabla-menu td {
  width: 33.3%;
}

.tabla-menu-fecha th, .tabla-menu-fecha td {
  width: 25%;
}

/* PAGINA DE DIETAS */

.mainDietas {
  font-family: Arial, sans-serif;
}

#dieta-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff; /* Fondo blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

#dieta-form>label {
  display: block;
  margin-top: 10px;
  color: #F5A623; /* Texto en color naranja */
}

#dieta-form>input[type="text"],
#dieta-form>textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #F5A623; /* Borde en color naranja */
  border-radius: 5px;
}

#dieta-form>button {
  background-color: #F5A623; /* Botón en color naranja */
  color: #fff; /* Texto en blanco */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#dieta-form>button:hover {
  background-color: #FFD34E; /* Cambio de color al pasar el mouse */
}

#id-dieta{
  display: none;
}

#dietas-list {
  max-width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#dietas-list table {
  width: 100%;
  border-collapse: collapse;
}

#dietas-list table, #dietas-list th, #dietas-list td {
  border: 1px solid #ddd;
}

#dietas-list th, #dietas-list td {
  padding: 10px;
  text-align: left;
}

#dietas-list th {
  background-color: #F5A623;
  color: #fff;
}

#dietas-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.actions {
  padding: 10px;
  white-space: nowrap;
}

.actions button {
  background-color: #F5A623;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px 2px;
}

.actions button.edit {
  background-color: #00C853;
}

.actions button.delete {
  background-color: #FF5252;
}

.error-message {
  visibility: hidden;
  color: #FF5252;
  margin-top: 5px;
  font-size: 1rem;
}