body {
    font-family: Arial, sans-serif;
    background-color: rgb(253, 222, 196);
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #b95a07, #FF6347);
    color: #fff;
    padding: 10px 20px;
  }
  .fondo{
    background-color: rgb(253, 222, 196);
  }
  .jefe-section {
    display: flex;
    align-items: center;
  }
  
  .jefe-section h1 {
    margin-right: 805px;
  }
  
  .jefe-section a.enlace {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  



/*FORMULARIO PARA COMIDAS*/
.formulario__input {
    border: 3px solid transparent;
    border-radius: 7px;
    transition: .3s ease all;
  }
  
  .formulario__input:focus{
    border: 3px solid rgb(254, 80, 0);
    box-shadow: 5px 0px 35px rgb(202, 78, 0);
  }
  
  .hijo {
    max-width: 40em;
    display: flex;
    justify-content: left;
    position: absolute;
    top: 19.5rem;
    transform: translate(0, -50%);
  }

  .tabla-container {
    float: right; 
}

  #enviar {
    background-color: rgb(196, 99, 39);
    width: 160px;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    transition: background-color 0.3s ease, width 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  #enviar:hover {
    width: 180px;
    background-color: rgb(254, 80, 0);
    box-shadow: 1px 1px 9px rgb(0, 0, 0);
  }
  .grupo__correcto .formulario__input{
    border: solid 3px green;
    color: darkgreen;
  }
  
  .grupo__error .formulario__input{
    border: solid 3px crimson;
    color: rgb(255, 98, 0);
  }
  
  .comentario{
    font-size: 10px;
  }
  
  .grupo_input-error{
    font-size: 10px;
    margin-bottom: 0;
    display: none;
    color: crimson;
    padding-top: -222px; 
    padding-bottom: -1222px;
    margin-top: 2px;
  }
  
  .grupo_input-error-activo{
    display: block;
  }

  #botonAlerta{
    padding-top:6px;
  }

.enlace{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }

.titulo{
    color: orange;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
h2 {
    justify-content: left;
    color: orange;
    text-align: left;
    font-size: 20px;
}

.pedidos {
    max-width: 95%; 
    margin: 0 auto; 
    padding: 80px;
    border: 3px solid orange; 
    background-color: rgb(255, 232, 187); 
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20PX; 
}

table th,table td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tablaArriba{
    color: orange;
}
.alerta {
    background-color: #ff0000; 
    color: #ffffff; 
    padding: 10px; 
    border: 1px solid #ff0000; 
    margin: 10px 0; 
    max-width: 440;
}
.alert {
    background-color: #ff7700; 
    color: #ffffff; 
    padding: 10px; 
    border: 1px solid #ff7700;
    margin: 10px 0; 
    max-width: 440px;
}
.alert2 {
    background-color: #2ed14e;
    color: #ffffff; 
    padding: 10px; 
    border: 1px solid  #2ed14e; 
    margin: 10px 0; 
    max-width: 440px;
}

.alert-confirmacion {
    background-color: #3498DB;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    max-width: 440px;
}

button {
    width: 120px;
    height: 40px;
  }

.botonAceptar {
    background-color: #2ed14e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botonAceptar:hover {
    background-color: orange; 
}

.botonAceptar:active {
    background-color: #ff8e04; 
}

.botonRechazar {
    background-color: #777777;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botonRechazar:hover {
    background-color: orange; 
}

.botonRechazar:active {
    background-color: #ff8e04; 
}

.botonDesechar {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botonDesechar:hover {
    background-color: orange; 
}

.botonDesechar:active {
    background-color: #ff8e04; 
}
.botonModificar {
  background-color: #0b0bbb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.botonModificar:hover {
  background-color: orange; 
}

.botonModificar:active {
  background-color: #ff8e04; 
}
a {
    color: orange;
    text-decoration: none;
    border: 1px solid orange;
    padding: 5px 10px;
    border-radius: 5px;
}    

.nav {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}
a:hover {
    color: #ffc59e;
    text-decoration: underline; 
}

.cerrarSesion{
    color: white;
}

.cajaSeleccion {
    background-color: rgb(253, 222, 196);
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.cajaSeleccion input[type="text"],
.cajaSeleccion input[type="number"] {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.CAMBIACOLOR{
    background-color: rgb(253, 222, 196);
}

