body {
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
}

.navbar .nav-link {
  color: #080101;
}

.navbar-nav .nav-item {
  margin-right: 40px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-toggler {
  background: rgb(153, 146, 159);
}


.titulo {
  color: rgb(254, 80, 0);
  text-align: center;
  font-size: 37px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: -1px;
  text-overflow: ellipsis;
  font-family: 'Times New Roman', Times, serif;
}

.subtitulo {

  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.enlace {
  color: #8D2C2C;
  text-decoration: none;
}

.formulario__grupo-input{
  position: relative;
}

.formulario__input {
  border: 3px solid transparent;
  border-radius: 3px;
  transition: .3s ease all;
}

.formulario__input:focus{
  border: 3px solid rgb(254, 80, 0);
  box-shadow: 5px 0px 35px rgb(202, 78, 0);
}

label {
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(66, 64, 64);
  padding-top: 8px;
}

.hijo {

  max-width: 22em;
  display: flex;
  justify-self: center;
  position: absolute;
  top: 17.5rem;
  right: 14%;
  /* */
  transform: translate(0, -50%);

}

#tipo_usuario {
  color: rgb(230, 92, 6);
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.556);
  cursor: pointer;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 20px;

}

#tipo_usuario:hover {
  border: 1px solid rgb(230, 92, 6);
}

#enviar {
  background-color: rgb(196, 99, 39);
  width: 160px;
  border: none;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  /* Transition solucionado usando un width, Nacho después fijate que tiempo te gusta más. */
  transition: background-color 0.3s ease, width 0.3s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#enviar:hover {
  width: 180px;
  background-color: rgb(254, 80, 0);
  box-shadow: 1px 1px 9px rgb(0, 0, 0);
}


.padre {
  position: relative;
  height: 100vh;
}


@font-face {
  font-family: 'Italica';
  src: url('../Tipografias/Italiana-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

.icono1 {
  width: 40px;
  height: 40px;
} 

.grupo__correcto .formulario__input{
  border: solid 3px green;
  color: darkgreen;
}

.grupo__error .formulario__input{
  border: solid 3px crimson;
  color: rgb(255, 98, 0);
}

.grupo_input-error{
  font-size: 12px;
	margin-bottom: 0;
	display: none;
  color: crimson;
}

.grupo_input-error-activo{
  display: block;
}

@media screen and (min-width: 1500px) {
 
  .hijo {

    max-width: 27em;
    display: flex;
    justify-self: center;
    position: absolute;
    top: 25.5rem;
    right: 18%;
    /* */
    transform: translate(0, -50%);
  
  
  
  }

  .row {
   font-size: 29px;
  
  
  
  }
  .titulo {
    text-align: center;
    font-size: 47px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: -1px;
    text-overflow: ellipsis;
    font-family: 'Times New Roman', Times, serif;
  }

  .form-control{
    font-size: 1.2rem;
  }

  #enviar {
   width: 180px;
   height: 40px;
  }

  #enviar:hover {
    width: 200px;
  }
  .enlace {
    color: #8D2C2C;
    text-decoration: none;
    font-size: 16px
   
  }
 
}
